:root {
  --primary: #d82581;
  --secondary: #370157;
  --dark: #0f172a;
  --light: #f8fafc;
  --oplight: rgba(255, 255, 255, 0.801);
  --opdark: rgba(0, 0, 0, 0.678);
  --gradient: linear-gradient(90deg, #d82581 0%, #370157 100%);
  --gradient90: linear-gradient(270deg, #d82581 0%, #370157 100%);
  --gradient180: linear-gradient(180deg, #d82581 0%, #370157 100%);
  --gradient360: linear-gradient(360deg, #d82581 0%, #370157 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  max-width: 100vw;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Navbar Style */
.navbar {
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.35rem 1.5rem;
  box-shadow: 0 8px 15px rgba(63, 63, 63, 0.5);
  border-bottom: 4px solid;
  border-image: var(--gradient) 1;
  z-index: 999;
  margin: 0 auto;
  backdrop-filter: blur(1.5px);
}

.logo {
  display: flex;
}

.logo img {
  margin-top: 5px;
  height: 65px;
  width: auto;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: relative;
}

.nav-links a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  padding-bottom: 2rem;
}

.nav-links a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-links-btn {
  opacity: 0;
  transform: translate(-50%, -15px); 
  transition: opacity 0.4s ease, transform 0.6s ease;
  font-size: 0.9rem;
  color: var(--secondary);
  background: rgba(255, 255, 255, 0.849);
  box-shadow: 0 8px 15px rgba(63, 63, 63, 0.5);
  border: 4px solid;
  border-top: none;
  border-image: var(--gradient) 1;
  cursor: pointer;
  position: absolute;
  top: 260%; 
  left: 50%;
  padding: 10px 10px;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  pointer-events: none; 
  z-index: 90;
}

.nav-links li {
  position: relative;
}

.nav-links li:hover .nav-links-btn {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.nav-links-btn:hover {
  color: var(--primary);
}

.nav-link-active{
  background: var(--gradient);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

/* mobile nav */
.hamburger {
  display: none;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  justify-content: center;
}

/* Mobile Styles */
@media (max-width: 1200px) {
  .hamburger {
    display: flex;
    z-index: 999;
    align-items: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
    padding: 20px 0;
    text-align: center;
    gap: 20px;

    background: transparent;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95) translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .nav-links-btn {
    display: none;
  }

  .nav-links a {
    color: var(--light);
    padding-bottom: 0rem;
    transition: color 0.3s ease;
  }

  .nav-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    border-radius: 1rem;
    color: var(--light);
    box-shadow: 0 8px 15px rgba(63, 63, 63, 0.5);
    border: 2px solid rgb(255, 255, 255);
    opacity: 1;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    animation: menuBackgroundFade 1s ease forwards;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto;
    animation: menuPopIn 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .nav-links a:hover {
    color: var(--primary);
  }

  @keyframes menuPopIn {
    0% {
      opacity: 0;
      transform: scale(0.95) translateY(-25px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes menuBackgroundFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }
}


.home-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.home-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.hero-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light);
  z-index: 3;
  width: 90%;
}

.hero-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: -3rem;
  opacity: 0;
  animation: slideFromTop 0.6s ease-out forwards;
}

.hero-container p {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 90%;
  margin: 0 auto;
  opacity: 0;
  animation: slideFromTop 0.6s ease-out forwards;
  animation-delay: 0.3s;
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 1rem;
  background: var(--gradient);
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.btn-primary:hover {
  background: var(--dark);
  color: var(--primary);
  border: 1px solid var(--secondary);
}

.hero-container a {
  animation: slideFromBottom 0.5s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  background: var(--gradient);
}

.hero-container a:hover {
  background: var(--dark);
  color: var(--light);
}

.hero-btn{
  display:flex; 
  justify-content:center; 
  gap:2rem;
  margin-top: 6rem;
  min-width: max-content;
}

.hero-btn a:hover{
  background: var(--dark);
  color: var(--primary);
  border: 1px solid var(--secondary);
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-info {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  text-align: center;
  color: var(--light);
  background: var(--dark);
  flex-wrap: wrap;
}

.info-item {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  min-width: 250px;
  max-width: 300px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info-item h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
  color: #fff;
}

.info-item p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--light);
}

@media (max-width: 768px) {
  .event-info {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .info-item {
    width: 100%;
    max-width: 90%;
  }
  .hero-container p {
    display: none;
  }
  .hero-btn {
    flex-direction: column;
    width: 200px;
    margin: 0rem auto;
    padding: 1rem;
  }
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  background: var(--dark);
  padding: 2rem;
  width: 100%;
  margin-top: -2px;
  gap: 1.5rem;
}

.countdown-container h1 {
  color: var(--primary);
}

.timer {
  display: flex;
  gap: 5rem;
  text-align: center;
}

.timer-container {
  background: var(--dark);
  padding: 1.5rem;
  border-radius: 10px;
  min-width: 120px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.42);
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.label {
  color: #969696;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }

  .timer-container {
    padding: 1rem;
    min-width: auto;
  }

  .timer-container:nth-child(1),
  .timer-container:nth-child(2) {
    grid-row: 1;
  }

  .timer-container:nth-child(3),
  .timer-container:nth-child(4) {
    grid-row: 2;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 2rem;
  }

  .label {
    font-size: 0.8rem;
  }
}

/* About */
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 5% 3rem 5%;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  min-height: 100vh;
  background: var(--gradient180);
}

.welcome-content {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.welcome-content h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--light);
}

.welcome-content span {
  color: #ffffff8e;
  font-size: 1.5rem;
  border-bottom: 2px solid;
  border-image: var(--gradient) 1;
}

.welcome-content h1 span.dot {
  color: #7f1d1d;
}

.welcome-content p {
  font-size: 1rem;
  line-height: 2;
  color: var(--light);
  margin-bottom: 1rem;
}

.welcome-content ul {
  list-style: none;
  color: white;
}

.welcome-content li {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.welcome-image {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.welcome-image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* footfall */
.footfall-section {
  margin-top: -4rem;
  text-align: center;
  padding: 50px 20px;
  background: var(--secondary);
}

.footfall-section h1 {
  font-size: 36px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: var(--light);
  border-bottom: 2px solid;
  border-image: var(--gradient) 1;
  display: inline-block;
}

.subtitle {
  background: var(--primary);
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 2rem;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  border-radius: 0.5rem;
  font-weight: 500;
}

.footfall-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
}

.card {
  padding: 1rem 0rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.297);
  transition: transform 0.3s ease;
  color: var(--light);
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: var(--primary);
}

.card p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
}

/* speaker css start */
.speakers-section {
  text-align: center;
  padding: 2rem 5% 2rem 5%;
  margin-bottom: 1rem;
  min-height: 100vh;
}

.speakers-section h2{
  padding-top: 5rem;
  margin-bottom: 2rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid;
  border-image: var(--gradient) 1;
  width: max-content;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: 700;
}

.speakers-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 1.5rem;
}

.speaker-card {
  position: relative;
  background-color: var(--light);
  width: 250px;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: .4rem solid rgb(255, 255, 255);
}

.speaker-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.speaker-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.speaker-name {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark);
  background: #fff;
  transition: opacity 0.3s ease;
  font-family: "Caveat", cursive;
}

.speaker-card:hover .speaker-name {
  opacity: 0;
}

.speaker-overlay {
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.4s ease, transform 0.5s ease;
  text-align: left;
  border-top: 2px solid rgba(255, 255, 255, 0.598);
}

.speaker-card:hover .speaker-overlay {
  opacity: 1;
  transform: translateY(0);
}

.speaker-overlay h3,
.speaker-overlay p {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;
  text-align: left;
}

.speaker-card:hover .speaker-overlay h3,
.speaker-card:hover .speaker-overlay p {
  animation: fadeIn 0.6s forwards;
}

.speaker-hover-overlay h3 {
  text-align: left;
  margin-bottom: 3px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

.speaker-hover-overlay p {
  text-align: left;
  font-size: medium;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* why hyd */
.custom-hyderabad-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.custom-hyderabad-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
}

.custom-hyderabad-bg.bg1 {
  background-image: url("Img/Why Hyd/Map.png");
  animation-name: fadeInOut1;
}

.custom-hyderabad-bg.bg2 {
  background-image: url("Img/Why Hyd/Charminar.jpg");
  animation-name: fadeInOut2;
}

@keyframes fadeInOut1 {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeInOut2 {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.custom-hyderabad-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 8rem 0 3rem 0;
  color: var(--dark);
  width: 90%;
  margin: 0 auto;
}

.custom-hyderabad-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--light);
  width: 100%;
  justify-content: center;
}

.custom-hyderabad-title span {
  background: var(--gradient180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: .5rem;
}

.custom-hyderabad-text {
  max-width: 100%;
  margin: 0 auto 1.5rem auto;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--light);
  font-weight: 500;
  text-align: left;
}

.custom-hyderabad-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background-color: #f28c8c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.custom-hyderabad-button:hover {
  background-color: #c94f4f;
}


.custom-hyderabad2 {
  padding: 3rem;
  background: var(--secondary);
  min-height: 400px;
  width: 100%;
}

.custom-hyderabad2-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: 20px;
  width: 95%;
  color: var(--light);
  margin: 0 auto;
}

.custom-hyderabad2 h1,
.custom-hyderabad2 p {
  width: 50%;
  line-height: 2rem;
}

.custom-hyderabad2 h1 {
  line-height: 4rem;
}

@media (max-width: 768px){
  .custom-hyderabad2-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  .custom-hyderabad2 h1,
.custom-hyderabad2 p {
  width: 100%;
}
}

.three-details-section {
  padding: 50px 0px;
  width: 100%;
  margin: 0 auto;
  background: var(--primary);
}

.three-details-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
}

.three-details-card {
  flex: 1 ;
  background: var(--light);
  padding: 2rem 1.5rem;
  border-radius: .5rem;
}

.three-details-icon {
  font-size: 40px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 20px;
}

.three-details-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.three-details-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  font-weight: 500;
}

@media (max-width: 768px){
  .three-details-container{
    flex-direction: column;
  }
  .three-details-card{
    width: 100%;
  }
}


/* img carousel */
.carousel-container {
  background: var(--secondary);
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem 20rem;
  text-align: center;
}

.carousel-container h1 {
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  border-image: var(--gradient) 1;
  color: var(--light);
  display: inline-block;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-track img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  flex-shrink: 0;
  padding: 1rem;
}

.carousel-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 35px;
  z-index: 10;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 20px;
}

.carousel-button.right {
  right: 20px;
}

@media (max-width: 768px) {
  .carousel-container {
    height: auto;
    padding: 1rem 5rem;
  }
  .carousel-container h1 {
    font-size: 1.5rem;
  }

  .carousel-button.left,
  .carousel-button.right {
    padding: 10px;
    font-size: 20px;
  }
  .custom-hyderabad2-text {
    flex-direction: column;
  }
  .custom-hyderabad2-text h1 {
    line-height: 2rem;
  }
  .custom-hyderabad2-text h1,
  .custom-hyderabad2-text p {
    width: 100%;
  }
}

/* Partners */
.our-partners {
  text-align: center;
  padding: 7rem 5% 2rem 5%;
  margin-bottom: 1rem;
}

.our-partners h2 {
  margin-bottom: 2rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2px solid;
  border-image: var(--gradient) 1;
  width: max-content;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: 700;
}

.partners-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.partner-logo {
  width: 260px;
  height: 160px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.253);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.partner-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px dashed rgba(0, 0, 0, 0.091);
  border-radius: 1rem;
  padding: 0.5rem;
}

.partner-logo:hover {
  transform: scale(1.05);
}


/* whatsapp */
.whatsapp-float {
  position: fixed;
  bottom: 11px;
  left: 28px;
  z-index: 999;
  border-radius: 50%;
  transition: transform 0.3s ease;
  animation: floatUpDown 3.2s ease-in-out infinite;
}

.whatsapp-float:hover {
  transform: scale(1.15) rotate(3deg);
}

/* live chat */
.chat-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 28px;
  background: var(--gradient180);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 29px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  z-index: 1000;
  animation: floatUpDown 3.2s ease-in-out infinite, pulseGlow 2.5s ease-in-out infinite;
  transition: transform 0.3s ease, background 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.chat-toggle-btn:hover {
  transform: scale(1.15) rotate(-9deg);
  background: var(--dark);
  color: var(--primary);
  border: 1px solid var(--secondary);
}

/* Floating animation */
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Pulse glow animation */
@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 10px rgb(255, 0, 132, 0.5), 0 0 20px rgb(255, 0, 132, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgb(255, 0, 132, 0.7), 0 0 30px rgb(255, 0, 132, 0.5);
  }
}

.section-title {
  text-align: left;
  width: 90%;
  margin: 8rem auto 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-title a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--primary);
}

.section-title a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-title span {
  font-size: 1.5rem;
  color: var(--primary);
}


/* footer */
.site-footer {
  background-color: var(--secondary);
  color: var(--light);
  padding: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  color: var(--oplight);
  border-bottom: 1px solid rgba(255, 255, 255, 0.078);
}

.footer-info img{
  width: 90%; 
  height:auto; 
  margin: 0 auto;
}

.footer-info h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: white;
  font-size: 1.1rem;
}

.footer-info p{
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: .9rem;
}

.footer-info,
.footer-contact {
  flex: 1;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 1.3rem;
  color: var(--primary);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contact h4{
  color: white;
  font-size: 1.1rem;
}

.footer-contact a {
  text-decoration: none;
  color: var(--primary);
}


.footer-contact-deatils p {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: .9rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #aaaaaa68;
  font-weight: 500;
}

@media (max-width: 900px){
  .footer-container{
    flex-direction: column;
    gap: 30px;
  }
}


